{% block leftColumn %}
<div id="left-column">
                <!--Optional image over section menu goes here <img width="197" class="decoration" /> -->
                <!--Section menu goes here-->
</div>
{% endblock %}