{% extends '::base.html.twig' %}

{% block title %}CMS - Login{% endblock %}

{% block content %}
<h1>Login</h1>
    {% if error %}
        <div>{{ error.message }}</div>
    {% endif %}
    <section id="login-form">
        <form action="{{ path('login_check') }}" method="post" id="login">        
            <section>
                <label for="username">Username:</label>
                <input type="text" id="username" name="_username" value="{{ last_username }}" />            
            </section>

            <section>
                <label for="password">Password:</label>
                <input type="password" id="password" name="_password" />
            </section>

            <section>
                <label for="remember_me">Keep me logged in</label>
                <input type="checkbox" id="remember_me" name="_remember_me" checked />
                
            </section>

            <section>
                <button type="submit">Login</button>
            </section>

        </form>
    </section>
{% endblock %}