{# HTML Block template #}
{# author: jtemplet #}

<script type="text/template" cms-template-for="html">
<div
    class="<%= data.cssClasses.toString() %>"    
    id="<%= data.name %><%= data.id %>"
    cms-block="true"                   
    cms-block-id="<%= data.id %>"
    cms-block-name="<%= data.urlname ? data.urlname : data.name %>"
    cms-block-type="<%= data.type %>"
    cms-block-editable="<%= data.editable %>"    
>   
    <div class="block-toolbar"></div>
    <div class="block-content" contenteditable=true><%= data.content %></div>
</div>
</script>