{# HTML Block template #}
{# author: jtemplet #}

<script type="text/template" cms-template-for="block">
<div
    class="<%= data.cssClasses %>"    
    id="<%= data.name %><%= data.id %>"
    cms-block="true"                   
    cms-block-id="<%= data.id %>"
    cms-block-name="<%= data.urlname ? data.urlname : data.name %>"
    cms-block-type="<%= data.type %>"
    cms-block-editable="<%= data.editable %>"
    contenteditable=true
>                
    <div class="block-content"><%= data.content %></div>
</div>
</script>