{# HTML Block template #}
{# author: jtemplet #}

<script type="text/template" cms-template-for="layout">
<div
    class="layout-block <%= data.cssClasses %>"      
    id="<%= data.name %>-<%= data.id %>"
    cms-block="true"                   
    cms-block-id="<%= data.id %>"
    cms-block-name="<%= data.urlname ? data.urlname : data.name %>"
    cms-block-type="<%= data.type %>"
    cms-block-editable="<%= data.editable %>"    
>                
    <div class="block-toolbar block-toolbar-right"
        id="<%= data.name %>-<%= data.id %>-layout-toolbar" 
        cms-toolbar-target="<%= data.name %>-<%= data.id %>" 
        cms-toolbar-type="block-toolbar"
    >
        <div class="block-toolbar-name"><%= data.name %> :: layout</div>
        <div class="block-toolbar-buttons">
            <a href="#" class="btn btn-small" cms-button-action="block-move-up" title='move up'><i class="icon-arrow-up"></i></a>
            <a href="#" class="btn btn-small" cms-button-action="block-move-down" title='move down'><i class="icon-arrow-down"></i></a>        
            <a href="#" class="btn btn-small" cms-button-action="block-add" title="add block"><i class="icon-plus"></i></a>
            <a href="#" class="btn btn-small" cms-button-action="block-info" title="details"><i class="icon-info-sign"></i></a>
            <a href="#" class="btn btn-small" cms-button-action="block-edit" title="edit"><i class="icon-edit"></i></a>
            <a href="#" class="btn btn-small" cms-button-action="block-trash" title="delete"><i class="icon-trash"></i></a>         
        </div>
    </div>
    <div class="block-content"><%= data.content %></div>
</div>
</script>