{# ${name} #}
{# author: ${user} #}

<section class="hidden"> 

    <div class="block-toolbar" id="page-toolbar">
        <a href="#" class="btn " cms-button-action="page-save" title='save page changes'><i class="icon-ok"></i> Save Changes</a>
        <a href="#" class="btn " cms-button-action="page-info" title='display more page information'><i class="icon-info-sign"></i> Page Information</a>        
        <a href="#" class="btn " cms-button-action="page-options" title='more options'><i class="icon-cog"></i> More Options</a>        
    </div>

    <div class="block-toolbar" id="layout-toolbar">        
        <a href="#" class="btn btn-small" cms-button-action="layout-move-up" title='move up'><i class="icon-arrow-up"></i></a>
        <a href="#" class="btn btn-small" cms-button-action="layout-move-down" title='move down'><i class="icon-arrow-down"></i></a>        
        <a href="#" class="btn btn-small" cms-button-action="layout-options" title='more options'><i class="icon-cog"></i></a>        
    </div>

    <div class="block-toolbar" id="layout-toolbar-popup" >
        <a href="#" class="btn btn-small" cms-button-action="toolbar-popup-add"><i class="icon-plus"></i> Add block</a>
        <a href="#" class="btn btn-small" cms-button-action="toolbar-popup-info"><i class="icon-info-sign"></i> Details</a>
        <a href="#" class="btn btn-small" cms-button-action="toolbar-popup-edit"><i class="icon-edit"></i> Edit</a>
        <a href="#" class="btn btn-small" cms-button-action="toolbar-popup-trash"><i class="icon-trash"></i> Delete</a>        
    </div>	

    <div class="block-toolbar" id="editable-block-toolbar-popup" >
        <a href="#" class="btn btn-small" cms-button-action="toolbar-popup-info"><i class="icon-info-sign"></i> Details</a>
        <a href="#" class="btn btn-small" cms-button-action="toolbar-popup-edit"><i class="icon-edit"></i> Edit</a>
        <a href="#" class="btn btn-small" cms-button-action="toolbar-popup-trash"><i class="icon-trash"></i> Delete</a>        
    </div>	
       

</section>

<section class="hidden">
{# templates for backbone models#}

</section>
<div id="cms-modal" class="modal hide fade">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3 id="cms-modal-header">Modal header</h3>
    </div>
    <div class="modal-body">
        
    </div>
    <div class="modal-footer">
        <a href="#" class="btn" data-dismiss="modal" cms-modal-button="cancel">Close</a>
        <a href="#" class="btn btn-primary" cms-modal-button="confirm">Save changes</a>        
    </div>
</div> 