{# ${name} #}
{# author: ${user} #}




<section class="not-hidden"> 
    
    <div id="layout-toolbar">        
        <a href="#" class="btn" cms-button-action="layout-move-up"><i class="icon-arrow-up"></i></a>
        <a href="#" class="btn" cms-button-action="layout-move-down"><i class="icon-arrow-down"></i></a>        
        <a href="#" class="btn" cms-button-action="layout-options"><i class="icon-cog"></i></a>
        <a href="#" class="btn" cms-button-action="layout-edit"><i class="icon-edit"></i></a>
        <a href="#" class="btn" cms-button-action="layout-remove"><i class="icon-trash"></i></a>        
    </div>
    
    <div id="layout-toolbar-popup" >
        <a href="#"><i class="icon-info-sign"></i></a>
        <a href="#"><i class="icon-edit"></i></a>
        <a href="#"><i class="icon-remove"></i></a>
        
    </div>	
</section>